{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Financial Portfolio Tracker{% endblock %}</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen">
    <nav class="custom-nav">
        <div class="custom-nav-container">
            <a href="{% url 'home' %}" class="logo">Portfolio Tracker</a>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'home' %}" class="custom-nav-links">Home</a>
                    <a href="{% url 'assets' %}" class="custom-nav-links">Assets</a>
                    <a href="{% url 'transactions' %}" class="custom-nav-links">Transactions</a>
                    <a href="{% url 'logout' %}" class="custom-nav-button">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="custom-nav-links">Login</a>
                    <a href="{% url 'register' %}" class="custom-nav-button">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <main class="container mx-auto mt-8 p-4 flex-grow">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="custom-footer">
        <div class="custom-footer-container">
            <p>&copy; 2024 Financial Portfolio Tracker. All rights reserved.</p>
        </div>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>