{% extends "portfolio/base.html" %}
{% block title %}Home - Financial Portfolio Tracker{% endblock %}
{% block content %}
{% load custom_filters %}
<h1 class="custom-h1">Welcome to Your Portfolio</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
        <div class="bg-white p-6 rounded shadow mb-6">
            <h2 class="text-xl font-semibold mb-4">Portfolio Summary</h2>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p>Portfolio Value: ${{ portfolio_value|floatformat:2 }}</p>
                    <p>P&L: 
                        <span class="{% if portfolio_pl >= 0 %}text-custom-green-full{% else %}text-red-500{% endif %}">
                            ${{ portfolio_pl|floatformat:2 }}
                        </span>
                    </p>
                    <p>Total Assets: {{ portfolio.assets.count }}</p>
                    <p>Total Transactions: {{ portfolio.transactions.count }}</p>
                </div>
                <div>
                    <canvas id="assetAllocationChart" style="max-width: 200px; max-height: 200px;"></canvas>
                    <div id="chartKey" class="mt-2 text-sm flex flex-wrap justify-center"></div>
                </div>
            </div>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Recent Transactions</h2>
            {% if recent_transactions %}
                <ul>
                {% for transaction in recent_transactions %}
                    <li>{{ transaction.transaction_type|title }} {{ transaction.quantity }} {{ transaction.asset_symbol }} at ${{ transaction.price }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No recent transactions</p>
            {% endif %}
        </div>
    </div>

    <div>
        <div class="bg-white p-6 rounded shadow mb-6">
            <h2 class="text-xl font-semibold mb-4">Daily Stock Movers</h2>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <h3 class="text-lg font-semibold mb-2">Top Gainers</h3>
                    <ul>
                        {% for stock in daily_gainers.0|slice:":3" %}
                        <li>
                            <span class="font-bold">{{ stock.Symbol }}</span>: 
                            {{ stock.Price }} 
                            (<span class="text-custom-green-full">{{ stock.Percent_Change }}</span>)
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-semibold mb-2">Top Losers</h3>
                    <ul>
                        {% for stock in daily_gainers.1|slice:":3" %}
                        <li>
                            <span class="font-bold">{{ stock.Symbol }}</span>: 
                            {{ stock.Price }} 
                            (<span class="text-red-500">{{ stock.Percent_Change }}</span>)
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Daily Crypto Movers</h2>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <h3 class="text-lg font-semibold mb-2">Top Gainers</h3>
                    <ul>
                        {% for crypto in daily_gainers.2|slice:":3" %}
                        <li>
                            <span class="font-bold">{{ crypto.Symbol|remove_usd_suffix }}</span>: 
                            {{ crypto.Price }} 
                            (<span class="text-custom-green-full">{{ crypto.Percent_Change }}</span>)
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-semibold mb-2">Top Losers</h3>
                    <ul>
                        {% for crypto in daily_gainers.3|slice:":3" %}
                        <li>
                            <span class="font-bold">{{ crypto.Symbol|remove_usd_suffix }}</span>: 
                            {{ crypto.Price }} 
                            (<span class="text-red-500">{{ crypto.Percent_Change }}</span>)
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('assetAllocationChart').getContext('2d');
    var assetAllocation = JSON.parse('{{ asset_allocation_json|safe }}');
    
    // Sort assets by value in descending order
    assetAllocation.sort((a, b) => b.value - a.value);

    // Take top 3 assets and calculate "Others" if necessary
    var topAssets = assetAllocation.slice(0, 3);
    var otherAssets = assetAllocation.slice(3);
    var totalValue = assetAllocation.reduce((sum, asset) => sum + asset.value, 0);

    if (otherAssets.length > 0) {
        var otherValue = otherAssets.reduce((sum, asset) => sum + asset.value, 0);
        topAssets.push({
            name: 'Others',
            value: otherValue,
            color: '#808080' // Grey color for "Others"
        });
    }

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: topAssets.map(item => item.name),
            datasets: [{
                data: topAssets.map(item => item.value),
                backgroundColor: topAssets.map(item => item.color),
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.label || '';
                            var value = context.parsed;
                            var percentage = Math.round((value / totalValue) * 100);
                            return label + ': ' + percentage + '%';
                        }
                    }
                }
            }
        }
    });

    // Create chart key
    var chartKey = document.getElementById('chartKey');
    topAssets.forEach(asset => {
        var percentage = Math.round((asset.value / totalValue) * 100);
        var keyItem = document.createElement('div');
        keyItem.className = 'mr-3 mb-1';
        keyItem.innerHTML = `<span style="color:${asset.color};">●</span> ${asset.name}: ${percentage}%`;
        chartKey.appendChild(keyItem);
    });
});
</script>
{% endblock %}