{% extends "portfolio/base.html" %}
{% block title %}Login - Financial Portfolio Tracker{% endblock %}
{% block content %}
<div class="login-container">
    <h1 class="login-title">Login</h1>
    <form method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button type="submit" class="btn-login">Login</button>
    </form>
    <p class="register-link">
        Don't have an account? <a href="{% url 'register' %}">Register here</a>
    </p>
</div>
{% endblock %}